# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [7]:
a=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] 
k=3
b=[]
for i in range(0,(len(a)-k)):
    b.append((a[i]+a[i+1]+a[i+2]+a[i+3])/3)
b

[5.666666666666667,
 7.333333333333333,
 9.0,
 10.333333333333334,
 31.333333333333332,
 52.666666666666664,
 76.33333333333333,
 105.66666666666667,
 117.33333333333333,
 143.33333333333334]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [47]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
a= [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
b=[0]
c=[]
for i in a:
    b.append(i)
print(b)
for i in range(0,len(b)):
    for j in range(i-1,-1,-1):
        if(b[j]==0):
            c.append(i-j-1)
            break
df["distance"]=c  
df

[0, 7, 2, 0, 3, 4, 2, 5, 0, 3, 4]

   X  distance
0  7         0
1  2         1
2  0         2
3  3         0
4  4         1
5  2         2
6  5         3
7  0         4
8  3         0
9  4         1

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [51]:
import numpy as np
dt_index=pd.date_range(start='2015-01-01',end='2015-12-31',freq='B')
df=pd.DataFrame(index=dt_index)
s=np.random.randint(1,100,len(dt_index))
df["series"]=s
df

            series
2015-01-01      31
2015-01-02      52
2015-01-05      92
2015-01-06       6
2015-01-07      42
...            ...
2015-12-25      49
2015-12-28      32
2015-12-29      60
2015-12-30      11
2015-12-31      96

[261 rows x 1 columns]

Q.4